@import "./base.css";

body {
  background-color: var(--color-primary);
  color: var(--color-on-text-primary);
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: inherit;
}
